@font-face {
   font-family: chineseFont;
   src: url('https://od.lk/s/NzZfNTA1NzYzM18/wp01005.ttf');
}
@font-face {
    font-family: msjhl;
    src: url('https://od.lk/s/NzZfNTA1NzcwOV8/msjh.ttf');
}

@font-face {
    font-family: huaKanPOP;
    src: url('https://od.lk/s/NzZfNTA1NzcxN18/pop1w5pop1w5p.ttf');
}

@font-face {
    font-family: huaKanGirl;
    src: url('https://od.lk/s/NzZfNTA1NzU5Nl8/w5w5p.ttf');
}

@font-face {
    font-family: huaKanKai;
    src: url('https://od.lk/s/NzZfNTA1NzY4N18/huakanKai.ttf');
}

@font-face {
    font-family: wawa;
    src: url('https://od.lk/s/NzZfNTA1NzYxMV8/wawa.ttf');
}
