.viewDIV_CSS{
	font-family: chineseFont;
	font-size: 20px;
	position: fixed;
	width: 250px;
	height: 250px;
	font-style: normal;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	border: 2px solid rgba(255, 255, 255, 0.00);
	background-color: #069;
	display: block;
	cursor: default;
	border-radius:5px;
	overflow: scroll;
    resize: both;

}

.ttsButton_CSS {
    position: fixed;
    width: 60px;
    height: auto;
    font-size: 12px;
    border-radius: 5px;
}

    

