.viewDIV_CSS{
    font-family: 'chineseFont';
    position:fixed;    
    width:30%;height:auto; 
    font-style: normal;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    border: #FC6 1px solid;
    background-color: #FFC; 
}